stockwhisk.com, www.stockwhisk.com {
    handle_path /media/* {
        root * /app/media
        file_server
    }
    handle_path /static/* {
        root * /app/staticfiles
        file_server
    }
    handle /api/* {
        reverse_proxy backend:8000
    }
    handle /admin/* {
        reverse_proxy backend:8000
    }
    handle {
        reverse_proxy frontend:3000
    }
}

mail.stockwhisk.com {
    reverse_proxy roundcube:80
}

